@import "https://fonts.googleapis.com/css?family=Raleway:900,800,700,600,400,300,200,100";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  width: 100%;

  margin: 0 0;
  padding: 0 0;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  width: 100%;

  margin: 0 0;
  padding: 0 0;

  overflow-x: hidden;
  // overflow-y:scroll;

  font-family: Josefin Sans;
}

body::-webkit-scrollbar {
  /* Invisible Scrollbar */
  display: none;
}
